In [ ]:
#Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

In [1]:
mydict={}
mydict

{}

In [3]:
mydict= {1:'one', 2:'two', 3:'three', 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [3]:
mydict1= {'a':'apple','b':'ball', 'c':'cat', 'd':'dog'}  #Dictionary with characters KEYS and Values
mydict1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [9]:
mydict2= {'a':'apple','b':'ball', 'c':'cat', 'd':'dog', 5:'five', 6:'six'}  #Dictionary with mix elements
mydict1

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [32]:
mydict4= {'a':'apple','b':'ball', 'c':'cat', 'd':'dog',5:'five', 6:'six', 7:3.5, 8:9.9}  #Dictionary with mix elements
mydict4

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': 'dog',
 5: 'five',
 6: 'six',
 7: 3.5,
 8: 9.9}

In [15]:
mydict3= {'a':'one', 'b':'two', 3:'three'}
mydict3

{'a': 'one', 'b': 'two', 3: 'three'}

In [24]:
mydict3= {'a':'one', 'a':'one','b':'two', 3:'three'} #Mutable
mydict3

{'a': 'one', 'b': 'two', 3: 'three'}

In [26]:
mydict3= {'a':'four', 'a':'one','b':'two', 3:'three'} #Mutable
mydict3

{'a': 'one', 'b': 'two', 3: 'three'}

In [28]:
mydict3.keys()

dict_keys(['a', 'b', 3])

In [30]:
mydict2.keys()

dict_keys(['a', 'b', 'c', 'd', 5, 6])

In [34]:
mydict4.keys()

dict_keys(['a', 'b', 'c', 'd', 5, 6, 7, 8])

In [36]:
mydict4.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'five', 'six', 3.5, 9.9])

In [38]:
mydict4.items() # Return Dictionary Values using values() method

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('d', 'dog'), (5, 'five'), (6, 'six'), (7, 3.5), (8, 9.9)])

In [40]:
mydict5= {'a':'one', 'a':'one','b':'two', 3:{'Name':'Hitesh', 'class':'2025'}} #Dict with dict nested
mydict5

{'a': 'one', 'b': 'two', 3: {'Name': 'Hitesh', 'class': '2025'}}

In [48]:
keys= {'a','b','c','d','e'}   ##Creating dict with keys and values
value= 10,20,30,40,50
mydict6= dict.fromkeys(keys,value)
mydict6

{'c': (10, 20, 30, 40, 50),
 'a': (10, 20, 30, 40, 50),
 'e': (10, 20, 30, 40, 50),
 'd': (10, 20, 30, 40, 50),
 'b': (10, 20, 30, 40, 50)}

In [50]:
keys= {'a','b','c','d','e','f'}   ##Creating dict with keys and values
value= 10,20,30,40,50
mydict7= dict.fromkeys(keys,value)
mydict7

{'c': (10, 20, 30, 40, 50),
 'a': (10, 20, 30, 40, 50),
 'e': (10, 20, 30, 40, 50),
 'd': (10, 20, 30, 40, 50),
 'f': (10, 20, 30, 40, 50),
 'b': (10, 20, 30, 40, 50)}

In [70]:

value.append(90)
mydict7

AttributeError: 'tuple' object has no attribute 'append'

In [74]:
keys= {'a','b','c','d'}   ##Creating dict with keys and values
value=[ 10,20,30,40,50]
mydict8= dict.fromkeys(keys,value)
mydict8

{'c': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50],
 'b': [10, 20, 30, 40, 50]}

In [76]:
value.append(60)      #Append values 
mydict8

{'c': [10, 20, 30, 40, 50, 60],
 'd': [10, 20, 30, 40, 50, 60],
 'a': [10, 20, 30, 40, 50, 60],
 'b': [10, 20, 30, 40, 50, 60]}

In [90]:
mydict8(2)

TypeError: 'dict' object is not callable

In [92]:
mydict9= {'a':'one', 'a':'one','b':'two', 3:{'Name':'Hitesh', 'class':'2025'}} #Dict with dict nested
mydict9

{'a': 'one', 'b': 'two', 3: {'Name': 'Hitesh', 'class': '2025'}}

In [96]:
mydict9[1]

KeyError: 1

In [98]:
mydict9.get{1}

SyntaxError: invalid syntax (2769154410.py, line 1)

In [100]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [102]:
mydict[1]

'one'

In [106]:
mydict.get(1)

'one'

In [110]:
mydict9['a']

'one'

In [122]:
mydict10= {'a':'four', 'a':'one','b':'two', 3:'three'} #Mutable
mydict10

{'a': 'one', 'b': 'two', 3: 'three'}

In [124]:
mydict10[a]= 'arabia'
mydict10

NameError: name 'a' is not defined

In [126]:
mydict11= {'a':'four', 'a':'one','b':'two', 3:'three'} #Mutable
mydict11

{'a': 'one', 'b': 'two', 3: 'three'}

In [128]:
mydict11[a]= 'arabia'
mydict11

NameError: name 'a' is not defined

In [130]:
mydict11 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict11

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [132]:
mydict11['DOB'] = 1992 # Changing Dictionary Items
mydict11['Address'] = 'Delhi' 
mydict11

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [136]:
mydict11['role']= 'Salesman'
mydict11      #Adding items to DIct

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'role': 'Salesman'}

In [140]:
dict11= {'DOB':2000}
mydict11.update(dict11)     #Update the DICT
mydict11

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 2000,
 'Address': 'Delhi',
 'role': 'Salesman'}

In [144]:
mydict9.pop('a')   #Remove a from Pop
mydict9

{'b': 'two', 3: {'Name': 'Hitesh', 'class': '2025'}}

In [146]:
mydict9.popitem()  #Random item removed from dict
mydict9

{'b': 'two'}

In [148]:
del[mydict11['ID']]  #delete the ID from the list
mydict11

{'Name': 'Asif', 'DOB': 2000, 'Address': 'Delhi', 'role': 'Salesman'}

In [150]:
mydict.clear()   # clear the dict
mydict

{}

In [152]:
for i in mydict11:
    print(i)

Name
DOB
Address
role

In [152]:
for i in mydict11:
    print(i)

Name
DOB
Address
role

In [158]:
for i in (mydict11):
    print(i, ':', mydict11[i])  # Key & value pair

Name : Asif
DOB : 2000
Address : Delhi
role : Salesman

In [160]:
'Address' in mydict11  #Membership

True

In [162]:
all(mydict11)   #Returns true as all values are true and no false (0)

True