In [ ]:
#Print Statments

In [1]:
print('Hitesh Sahu')

Hitesh Sahu

In [3]:
print('my name is Hitesh Sahu.', 'I am learning Python.', 2025)

my name is Hitesh Sahu. I am learning Python. 2025

In [5]:
city= 'Paris'
food= 'pastry'

In [13]:
print( 'I like', city, 'and love', food, 'there' )

I like Paris and love pastry there

In [21]:
name= 'Python'
age= 20
belong= 'Mumbai'

In [23]:
print('my name is', name, 'my age is', age, 'i am from', belong)

my name is Python my age is 20 i am from Mumbai

In [25]:
print('my name is{}, my age is {} i am from{}'.format(name,age,belong))  #.format to print

my name isPython, my age is 20 i am fromMumbai

In [27]:
a1= 20.56
a2=50.678
a3=60.567

In [41]:
avg= (a1+a2+a3)/3# Average

In [45]:
print('the average of{},{},{} is {}'.format(a1,a2,a3,avg))

the average of20,50,60 is 43.333333333333336

In [51]:
avg= round(a1+a2+a3)/3,2 # Average tp round two values

In [53]:
print('the average of{},{},{} is {}'.format(a1,a2,a3,avg))

the average of20,50,60 is (43.333333333333336, 2)

In [59]:
round(100.200,2)

100.2

In [61]:
round(avg,2)

TypeError: type tuple doesn't define __round__ method

In [69]:
num1=10 
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

In [77]:
print ('Hello World!', end=' ') # End Statement to print the second statment
print('How are you doing?')

Hello World! How are you doing?

In [ ]:
##Separator

In [79]:
print('hello', 'how are you all', 'my name is jojo', sep=' ')

hello how are you all my name is jojo

In [81]:
print('hello', 'how are you all', 'my name is jojo', sep='xoxo ')

helloxoxo how are you allxoxo my name is jojo

In [83]:
print(45, '.') # . is away from 45

45 .

In [85]:
print(45,'.',sep='') #Use seperator to bring the .closer

45.