In [ ]:
#SET

1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

In [1]:
myset= {10,20,30,40,50}
myset

{10, 20, 30, 40, 50}

In [3]:
len(myset)

5

In [7]:
myset1= {1,1,2,3,4,4,4,5}
myset1      #Duplicates are not allowed in SET

{1, 2, 3, 4, 5}

In [11]:
myset2= {2.4,3.5,5.67,9.87}
myset2

{2.4, 3.5, 5.67, 9.87}

In [17]:
type(myset2)

set

In [ ]:
myset3={}

In [19]:
s= {}  #By default it is dict

In [21]:
type(s)

dict

In [23]:
s= ()
s

()

In [25]:
type(s)

tuple

In [27]:
s1= set() # Empty set
s1

set()

In [31]:
type(s1)

set

In [33]:
myset3= {'Hi', 'bye', 'ciao', 'asta'}  #string
myset3

{'Hi', 'asta', 'bye', 'ciao'}

In [35]:
myset4= {90,87,98,40,30,10,50}   #SET does sorting asc for numeric value
myset4

{10, 30, 40, 50, 87, 90, 98}

In [37]:
myset5= {10,30,3.5,4.9, 'harry', (10,20)} #Mixed data type with nested loop
myset5

{(10, 20), 10, 3.5, 30, 4.9, 'harry'}

In [39]:
myset5.add(200)   #add 200 to list 
myset5

{(10, 20), 10, 200, 3.5, 30, 4.9, 'harry'}

In [41]:
myset5.add(200)  #Duplicates are not allowed
myset5

{(10, 20), 10, 200, 3.5, 30, 4.9, 'harry'}

In [43]:
myset6= myset5.copy()   #Copy
myset6

{(10, 20), 10, 200, 3.5, 30, 4.9, 'harry'}

In [45]:
myset6.clear()  # Clear the set list
myset6

set()

In [53]:
myset5[0] ## Indexing and slicing not allowed in SET

TypeError: 'set' object is not subscriptable

In [55]:
myset5.pop()  #Set pop removes random element without any index value
myset5

{(10, 20), 10, 200, 30, 4.9, 'harry'}

In [57]:
myset5.discard(10)  #delete the 10 without defining index as indexing is not allowed in SET # Discard function never throws the error even if the element is not there in the SET
myset5

{(10, 20), 200, 30, 4.9, 'harry'}

In [63]:
myset5.discard(1000)  #No error 
myset5

{(10, 20), 30, 4.9, 'harry'}

In [61]:
myset5.remove(200)  #removed the 200 from the set # 
myset5

{(10, 20), 30, 4.9, 'harry'}

In [65]:
for i in myset5:
    print(i)

4.9
harry
30
(10, 20)

In [67]:
for i in enumerate(myset5):
    print(i)

(0, 4.9)
(1, 'harry')
(2, 30)
(3, (10, 20))

In [69]:
10 in myset5

False

In [87]:
if 10 in myset5:
    print('ten is present in set')
else:
    print('ten is not present in the set')

ten is not present in the set

In [89]:
myset5.add(1000)
myset5

{(10, 20), 1000, 30, 4.9, 'harry'}

In [91]:
myset5.update([23,43,77,'sahu']) # Add multiple elements in the list. 
myset5

{(10, 20), 1000, 23, 30, 4.9, 43, 77, 'harry', 'sahu'}

In [93]:
myset5.remove(23)
myset5

{(10, 20), 1000, 30, 4.9, 43, 77, 'harry', 'sahu'}

In [95]:
del myset3  #Delete is not alllwoed
myset3

NameError: name 'myset3' is not defined

In [99]:
myset6= myset5.copy()
myset6

{(10, 20), 1000, 30, 4.9, 43, 77, 'harry', 'sahu'}

In [101]:
myset6.add(56)
myset6

{(10, 20), 1000, 30, 4.9, 43, 56, 77, 'harry', 'sahu'}

In [103]:
print(myset5)

{4.9, 1000, 43, 'harry', 77, (10, 20), 'sahu', 30}

In [107]:
myset7 = set()
myset7

set()

In [117]:
myset7= myset5 # Reference List

In [119]:
print(myset7)

{4.9, 1000, 43, 'harry', 77, (10, 20), 'sahu', 30}

In [123]:
id(myset5), id(myset7)

(2296950728832, 2296950728832)

In [127]:
myset7.add(29)
myset7

{(10, 20), 1000, 29, 30, 4.9, 43, 77, 'harry', 'sahu'}

In [129]:
print(myset5)

{4.9, 1000, 43, 'harry', 77, (10, 20), 'sahu', 29, 30}

In [133]:
myset6|myset5     #Union

{(10, 20), 1000, 29, 30, 4.9, 43, 77, 'harry', 'sahu'}

In [135]:
a= {1,2,3,4,5}
b= {4,5,6,7,8}
c= {6,7,8,9,20}

In [137]:
a|b    #Union does not repeat the value

{1, 2, 3, 4, 5, 6, 7, 8}

In [139]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [141]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20}

In [143]:
a&b  #Intersection shows common value in both a and b

{4, 5}

In [145]:
a-b  # Difference- set of elements that are only in A but not in B

{1, 2, 3}

In [147]:
b-a # Difference- set of elements that are only in b but not in a

{6, 7, 8}

In [149]:
a^b #Symmetric difference (Set of elements in A and B but not in both. Exclusive

{1, 2, 3, 6, 7, 8}

In [153]:
b^c

{4, 5, 9, 20}

In [170]:
d= {1,2,3,4,5,6,7}
e= {4,5,6,7}
f={8,9,10,11,12}

In [161]:
e.issubset(d)  #Issubset- e is said to be the subset of set d if all elements of e are present in d

True

In [163]:
d.issuperset(e) #Superset- d is said to be the superset of set e if all elements of e are present in d

True

In [176]:
d.issubset(f)

False

In [180]:
d.isdisjoint(f) #disjoin- both d and f do not have any common elements

True

In [182]:
sum(d)

28

In [184]:
max(d)

7

In [188]:
min(d)

1

In [190]:
len(d)

7

In [192]:
list(enumerate(d))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7)]

In [198]:
sorted(d)

[1, 2, 3, 4, 5, 6, 7]

In [210]:
j= sorted(d,reverse=True)
j

[7, 6, 5, 4, 3, 2, 1]